/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Signika:wght@300&display=swap');
body {
  font-family: "Signika", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mainHeader {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
}

.logoLeft {
  height: 3.5rem;
  margin-left: 1rem;
}

.navbarRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.navbar-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section1 {
  width: 100%;
  margin-top: 5rem;
}

.img-back {
  width: 100%;
}

.textMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;
  position: absolute;
  top: 22.5rem;
  left: 25rem;
}

.bi-h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: bolder;

}

.bi-p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
}

.section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

.whats-on-spotify-tittle {
  font-family: 'Montserrat', sans-serif;
  color: rgb(2, 2, 2);
  font-size: 2rem;
  text-align: center;
  text-decoration: underline green;
  line-height: 1.5;
  font-weight: bolder;
}

.allCards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    text-align: center;
}

.cardsImg {
  max-width: 50%;
  max-height: 50%;
}

.title-1 {
  text-align: center;
  color: green;
  font-size: 2.5rem;
}

.title-1 + p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  text-justify: auto;
}

.section3 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  width: 100%;
  background-color: rgb(99, 164, 2);  
}

.contain {
  width: auto; 
  max-height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.text-left {
  text-align: left;
  color: white;
  font-size: auto;
  text-justify: auto;
}
.title-text {
  text-decoration: underline rgb(255, 255, 255);
  line-height: 1.5;
  font-weight: bolder;
  font-size: 2.5rem;
}

.h3Title {
  font-weight: bolder;
  font-size: 1.5rem;
}

.pSection3 {
  font-weight: normal;
  font-size: 1rem;
}

/* .background-image {
    background: url('../images/landing.jpg') center no-repeat;
    background-size: cover;
    font-weight:bolder;
    font-size: 300%;
    color: white;
    text-align: center;
    padding: 250px;
  } */

/* .bi-h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  .logo-and-nav {
    position: fixed;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: auto;
    
  }

  .logo-and-nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: auto;
  } 

  .logo-s{
    width: 20%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
  }

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

  }

  .nav-bar-item {
      display: flex;
      justify-content: space-between;
      padding-right: 3%;
      padding-left: 10%;
      font-size: 1.5em;
  } */
